@font-face {
    font-family: 'Muller'; 
    src: url('../fonts/MullerBold.woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Muller'; 
    src: url('../fonts/MullerRegular.woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Futura'; 
    src: url('../fonts/FuturaPT-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
*,
::after ,
::before {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #B9DDE7;
    margin: 0;
    font-weight: 400;
    color: #3A3A3A;
    font-family: 'Muller';
}

h1,h2 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.section {
    max-width: 812px;
    margin: 0 auto;   
    background-color: #B9DDE7;
    background-image: url('../img/white_line.svg');
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-position-x: center;
    background-size: 100%;
    padding: 17px 0 0 0;
    position: relative;
    &::after {
        content: url('../img/img.svg');
        position: absolute;
        right: 0;
        top: 20%;
    }
}
.container {
    margin: 0 auto;
    max-width: 290px;
    width: 100%;
    background-color: #ffffff;
}
.title {
    font-family: 'Futura'; 
    padding: 27px 40px 20px 35px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.list {
    padding: 0 40px 20px 35px;
    margin: 0;
}
.list {
    &__item {
        margin: 0;
        padding-bottom: 15px;
        list-style: none;
        display: flex;
        align-items: baseline;

        &--circle {
            margin-left: -7px;
            &::before {
                content: '';
                display: flex;
                flex: 0 0 auto;
                width: 6px;
                height: 6px;
                background-color: #FDF571;
                border-radius: 100%;
                margin-right: 9px;
                margin-left: -7px;
            }
        }
    }
}
.text {
    font-family: 'Muller'; 
    font-size: 12px;
    line-height: 18px;
    &--bottom {
        font-size: 15px;
        line-height: 20px;
    }
}
.bold {
    font-weight: 700;
}
.button {
    font-family: 'Muller'; 
    display: block;
    margin: 0 auto 50px;
    width: 200px;
    background: #FDF571;
    border: 1px solid #3A3A3A;
    border-radius: 45px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #301F35;
    font-weight: 700;
    text-decoration: none;
    padding: 18px 57px
}
.bottom {
    &__block {
        position: relative;
        background-color: #ffffff;
        display: flex;
        padding-bottom: 156px;
    }
}
.text {
    &__bottom {
        padding: 0 0 10px 20px;
    }
}
.footer {
    background-color: #B9DDE7;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    &__img {
        display: block;
        width: 204px;
        height: 278px;  
        position: absolute;
        right: -15px;
        top: -32px;
        &--dots {
            position: absolute;
            top: 125px;
            left: 20px;
        }
    }
    &__link {
        margin-top: 20px;
        display: flex;
        align-items: center;
        &--img {
            display: block;
            width: 20px;
            height: 20px;
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &--link {
            padding-left: 8px;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 20px;
            text-decoration-line: underline;
            color: #3A3A3A;
            &:hover {
                opacity: .7;
                transition: .2s linear;
            }
        }
    }
}

@media(min-width: 414px) {
    .text {
        font-size: 14px;
        line-height: 17px;
    }
    .button {
        font-size: 18px;
        padding: 22px 40px;
        width: 215px;
        height: 60px;
    }
}
